<!--
     1) Un composant c'est un sélecteur et un template à afficher
     2) Un composant c'est aussi une classe qui porte des données et des comportements
     3) On peut projeter des données dans le template (via interpolation, via databinding)
     4) On peut écouter les intéractions de l'utilisateur (via event binding)
     5) Angular détecte les changements et met éventuellement à jour l'affichage
     6) On peut transférer le détail de l'événement via la variable $event
     7) On peut utiliser des fonctionnalités procurées par d'autres modules
     8) On peut utiliser d'autres composants
     9) On peut passer des informations à un composant enfant si il expose un 
     ou plusieurs @Input() => Les inputs peuvent avoir un nom différent
     de la propriété
     10) On peut aussi passer du contenu (simple ou complexe) à un composant enfant 
     en utilisant la balise <ng-content> dans l'enfant
     11) On peut passer des valeurs complexes (objets ou tableaux) à un composant via le
      databinding
    -->



<h1>{{ title }}</h1>
<h2>bonjour à tous</h2>

<hr>
<hr>

<!-- Le composant -->
<app-employe [informations]="employe" (licenciement)="reagirAuLicenciement($event)" >
  Très bon prof, incontestablement le meilleur
</app-employe>




<hr>
<hr>


<hr><hr>

<app-tweet tweet-author="elise toitoi">
  <span class="content">Salut ça roule</span>
  <span class="date">20/01/2019</span> 

</app-tweet>

<app-tweet tweet-author="pascal toitoi"></app-tweet>
<app-tweet ></app-tweet>


<hr><hr>

<p>Bienvenu sur le composant App</p>
<p>Le nombre vaut
    {{ nombre * 10 }}</p>
<p>Le montant est
    {{ nombre.toLocaleString() }}</p>
<p>{{ getPhrase() }}</p>

<input type="text" [value]="title" (input)="onChange($event)"/>

<!--<input type="text" [ngModel]="title" (ngModelChange)="onChangeModel($event)"/>-->

<!-- Data binding et Event binding à la fois-->
<input type="text" [(ngModel)]="title"/> 

<!-- Event binding-->
<button (click)="direBonjour()">Click me</button>
<button (click)="changerTitre()">Changer le titre</button>
<hr/>

<!-- Data binding binding-->
<img [src]="image"/>
